table {
  /* border: 1px solid black; */
}

tbody tr:nth-child(even) {
  background-color: lightblue;
}

.bonus {
  text-align: right;
}

tfoot tr {
  text-align: center;
}

.clickable {
  cursor: pointer;
}